footer{
  height: 100vh;
  background-color: var(--color-back0);
  color: #fff;
  display: flex;
  padding: 5% 5%;
  padding-top: 10%;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.contato{
  display: flex;
  flex-direction: column;
  & h2{
    font-size: 2.5em;
    font-weight: 500;
  }
  & hr{
    margin: 50px 0 100px;
    position: relative;
  }
  & #bolinha{
    position: relative;
    overflow: visible;
    &::after{
      content: 'Entre em Contato';
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 13px;
      position: absolute;
      background-color: var(--color-mark);
      top: -75px;
      right: 30px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  & button{
    background-color: transparent;
    padding: 20px;
    border: 1px solid var(--color-secundaria);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
  }
}
.redes-sociais{
  display: flex;
  flex-direction: column;
  gap: 30px;
  & p{
    color: var(--color-secundaria);
    font-size: 11px;
    font-weight: bold;
  }
  & .social{
    display: flex;
    gap: 20px;
  }
  & .especification{
    display: flex;
    justify-content: space-between;
  }
  & .direitos{
    display: flex;
    justify-content: space-between;
    & p{
      color: #fff;
      font-size: 15px;
      font-weight: 400;
    }
  }

}
@keyframes before-footer {
  form{
    top: 0;
  }
  to{
    top: -100px;
  }
}